.footer {
    @media(max-width: 479px) {
       text-align: center;
       .text-with-arrow {
           justify-content: center;
           margin-bottom: 1rem;
       }
    }
    @media(max-width: 1023px) {
        .smaller-container {
            padding: 0 1rem;
        }
    }
    padding-top: 2rem;
    @include breakpoint(small-medium) {
        padding-top: 3rem;
    }
    @include breakpoint(medium) {
        padding-top: 5rem;
    }
    @include breakpoint(large) {
        padding-top: 120px;
    }
    .gray-back {
        top: auto;
        bottom: 20%;
        @media(max-width: 799px) {
            display: none;
        }
    }
    margin-bottom: 21px;
    p {
        font-size: 13px;
        @include breakpoint(large) {
            font-size: 14px;
        }
        font-weight: 500;
        color: rgba(26, 21, 21, 0.56);
    }
    a {
        &:hover {
            opacity: 0.7;
        }
    }
    .footer-left-inside, .footer-right-inside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-right-inside, .footer-left-inside {
        flex: 1;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 26px;
        }
        a {
            color: #1A1515;
            font-weight: 500;
            font-size: 20px;
            @include breakpoint(large) {
                font-size: 30px;

            }
        }
    }
    .footer-middle {
        margin-top: 2rem;
        @include breakpoint(medium) {
            margin-top: 0;
        }
        background: #1D1D1D;
        display: flex;
        justify-content: center;
        padding: 52px 1rem;
        .footer-middle-inside {
            @media(max-width: 799px) {
                // display: flex;
                // justify-content: space-evenly;
                width: 100%;
            
            }
            .first {
                margin-bottom: 1rem;
            }
            @include breakpoint(small-medium) {
                .first {
                    margin-bottom: 0;
                }
                display: flex;
                justify-content: space-evenly;
            }
            @include breakpoint(medium) {
                display: block;
            }
        }
        p {
            color: rgba(255, 255, 255, 0.56);
            font-size: 12px;
            @include breakpoint(large) {
                font-size: 14px;
            }
        }
        a {
            font-weight: 600;
            color: #fff;
            font-size: 18px;
            @include breakpoint(large) {
                font-size: 22px;
            }
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            display: block;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .footer-right {
        display: flex;
        flex-direction: column;
        a {
            display: block;
        
        }
        @include breakpoint(medium) {
            align-items: flex-end;

        }
        p {
            margin-bottom: 6px;
        }
        span {
            display: block;
            font-size: 14px;
            @include breakpoint(large) {
                font-size: 16px;
            }
     
            color: #1A1515;
            font-weight: 600;
            margin-bottom: 44px;
        }
        .text-with-arrow {
            color: #3B3A3A;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            display: flex;
        }
    }
    .rodo-big {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }

    }

    .rodo-small {
        display: flex;
        justify-content: space-between;
        @include breakpoint(medium) {
            display: none;
        }
    }
    .rodo {
        a {
      
            font-size: 10px;
            color: rgba(0, 0, 0, 0.56);
            font-weight: 100;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
