.footer-form-box {
    display: flex;
    justify-content: flex-end;
}


///////////////////ważne dla safari, tak samo przy selekcie!!!
.footer-form input[type=checkbox] {
    -webkit-appearance: none;
}



.footer-form {
    max-width: 300px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    background: transparent;
    .big-title {
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 42px;
    }

    .form-button {
        background-color: #E95A00 !important;
        color: #fff !important;
        border-radius: 20px;
        margin-top: 1rem;
        font-size: 13px;
        &:hover {
            opacity: 0.7;
        }
    }

  
    
    .wpcf7 [type=text], .wpcf7 [type=tel], .wpcf7 [type=email], .wpcf7 textarea, .wpcf7-select {
        background-color: transparent;
    // padding: .5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    color: rgba(112, 112, 112, 0.73);
    padding-bottom: 0;
    &::placeholder {
        color: rgba(112, 112, 112, 0.73);
        font-size: 12px;
    }
    }
    .wpcf7 textarea {
        margin-bottom: 0;
    }
    .wpcf7-select {
        background-image: url("../assets/img/Group 735.svg");
        // background-position: bottom;
        &:hover {
            cursor: pointer;
        }
        color: rgba(112, 112, 112, 0.34) !important;
    
        option {
            transition: .3s ease-in-out;
            color: rgba(112, 112, 112, 0.34);
            padding-top: 0;
            background: #F4F4F4;
         
        }
    }

    input[type=checkbox] {
        height: 5px;
        width: 10px;
        position: absolute;
        border-radius: 100%;
        left: 0;
        top: 2.5px;
        z-index: 5;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 9px;
        height: 9px;
        top: 0;
        left: 0;
        border: 0.5px solid rgba(112, 112, 112, 0.34);
        background-color:#F4F4F4;

    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border: 0.5px solid rgba(112, 112, 112, 0.73);
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        position: absolute;
        /* top: 1px; */
        bottom: -1px;
        left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span .wpcf7-list-item {
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        &:hover {
            label {
                opacity: 0.7;
            }
        }
    }
    
    span .wpcf7-list-item label{
        transition: .3s ease-in-out;
        line-height: 1.4;
        // padding-bottom: 1em;
        font-size: 10px;
        // @media(min-width: 980px){
        //     font-size: 10px; 
        // }
        &:hover {
            cursor: pointer;
        }
        color: rgba(112, 112, 112, 0.34);
    }

    input:disabled {
        background-color: transparent;
        border: none;
        transition: .3s ease-in-out;
        color: #000;
        font-size: 14px;
        font-weight: 400;
    
        // span {
            
        // }
    
  
    }

    .button-box {
        margin-top: 28.5px;
        display: flex;
        justify-content: flex-end;
        button {
            display: flex;
            align-items: center;
            transition: .3s ease-in-out;
            &:hover {
                opacity: 0.7;
            }
            &::after {
                // content: url("../../assets/img/Group\ 38.svg");
                content: "";
                width: 28px;
                height: 6px;
                background-image: url("../../assets/img/Group\ 38.svg");
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
            } 
        }
    }
 }