
header#site-header.header-gray {
	background-color: #F7F7F7;
}

.header-icons {
	z-index: 20;
	@media(max-width: 799px) {
		display: none;
	}
	padding: 1rem;
    background: #fff;
	position: fixed;
	right: 1rem;
	top: 120px;
	img {
		opacity: 0.48;
		display: block;
		transition: .3s ease-in-out;
		margin-top: 10px;
	}
	a {
		&:first-child {
			img {
				margin-top: 0;
			}
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
}
header#site-header {
	padding: 0 0;
	padding-bottom: 30px;

	@media(min-width: 980px) {
		// padding: 20px 0;
		padding-bottom: 20px;

	}

	position: relative;
	background: transparent;

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}

	.fixed-nav.scrolled & {
		background: #fff;
	}

	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		@media(min-width: 980px) {
			// padding: 20px 0;
			padding-top: 20px;
	
		}
		padding-bottom: .5rem;
		

		.fixed-nav & {
			transition: 0.3s ease-out;
		}

		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}

	}

	.logo-wrap {
		transition: .3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
}