.owl-1-box {
	.big-title {
		@include breakpoint(medium) {
			margin-bottom: 72px;

		}
	}
}


.owl-next,
.owl-prev {
	svg {
		height: 20px;

		@media(min-width: 1300px) {
			height: 32px;

		}

		transition: .3s ease-in-out;
	}

	&:hover {
		background: transparent !important;

		svg {
			opacity: 0.7;
		}
	}
}

.owl-1-box {
	height: 100%;
}

// .owl-next {
// 	margin: 5px 20px !important;
// 	@media(min-width: 1300px) {
// 		padding: 5px 5px !important;
// 		top: 0;
// 		bottom: 0;
// 		position: absolute;
// 		right: -7%;

// 	}
// }

// .owl-prev {
// 	margin: 5px 20px !important;
// 	@media(min-width: 1300px) {
// 	padding: 5px 5px !important;
// 	top: 0;
// 	bottom: 0;
// 	position: absolute;
// 	left: -7%;
// 	}
// }
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(63, 90, 165, 0.87);
}

.owl-theme {
	.owl-nav {
		margin-top: 18px;

		@media(min-width: 640px) {
			text-align: right;
			margin-right: 100px;
		}

	}

	.owl-dots {
		.owl-dot {
			span {
				margin: 5px 15px;
				background: rgba(29, 43, 82, 0.87);
				border-radius: 0;
				width: 5px;
				height: 5px;
			}
		}
	}
}

.owl-item {
	transition: .3s ease-in-out;

	&:hover {
		opacity: 0.7;
	}
}

.owl-img {
	height: 200px;

	@include breakpoint(small-medium) {
		height: 250px;
	}

	@include breakpoint(large) {
		height: 355px;

	}
}

.owl-img-1 {
	background-image: url("../assets/img/thanos-pal-61TfyNIrWmI-unsplash.jpg");
}

.owl-img-2 {
	background-image: url("../assets/img/sidekix-media-BAVam-y_9Wg-unsplash.jpg");
}

.owl-img-3 {
	background-image: url("../assets/img/jurre-houtkamp-610ZXDQRt0Y-unsplash-2.jpg");
}

.owl-img-4 {
	background-image: url("../assets/img/apartment-architecture-ceiling-chair-259962-2.jpg");
}



.karta-first-left {
	
	 
}