@import '../general/typography';
@import '../modules/foundation-settings';
@import url("https://use.typekit.net/aeb5equ.css");

//////////////////main

.main-first {

    .main-first-inside,
    .main-first-inside-inside {
        height: 100%;
        p {
            line-height: 1.3;
            @include breakpoint(large) {
                max-width: 424px;
            }
        }
    }

    @include breakpoint(medium) {
        height: calc(100vh - 250px);
    }

    @include breakpoint(large) {
        height: calc(100vh - 100px);

    }

    .main-first-left {
        display: none;

        @include breakpoint(medium) {
            display: flex;
        }

        @include breakpoint(large) {
            padding-bottom: 140px;
            padding-right: 30px;

        }

        align-items: flex-end;

    }

    .main-first-right {

        .p-small {
            padding: 2rem 0;

            @include breakpoint(medium) {
                display: none;

            }
        }

        @include breakpoint(medium) {
            padding-left: 15px;

        }

        @include breakpoint(large) {
            padding-left: 30px;

        }

        display: flex;
        flex-direction: column;

        .main-first-right-img {
            display: flex;
            align-items: center;
            padding-left: 2rem;

            .small-screen-main-title {

                span,
                .main-title {
                    color: #fff;

                }

                @include breakpoint(medium) {
                    display: none
                }

                .main-title {
                    font-size: 30px;
                }
            }

            background-image: url("../assets/img/Group\ 1515.jpg");

            @include breakpoint(medium) {
                background-image: url("../assets/img/_MG_2289.jpg");

            }

            height: 170px;

            @include breakpoint(medium) {
                height: 63%;

            }
        }
    }

    .see-more-main-first {
        flex: 1;
        height: 100%;

        .see-more-main-first-inside {
            max-width: 455px;

            @include breakpoint(medium) {
                max-width: none;
            }

            height: 100%;

            .brown,
            .white {
                display: flex;
                justify-content: center;
                padding: 2rem 1.2rem;
                align-items: flex-end;

                p {
                    margin-bottom: 30px;
                    font-size: 20px;
                    color: #406054;
                }

                img {

                    width: 169px;

                    transition: width .3s ease-in-out;
                }

                &:hover {
                    cursor: pointer;

                    img {
                        width: 200px;
                    }
                }
            }

            .brown {
                background-image: url("../assets/img/Group\ 1514.jpg");
                color: #fff;
                height: 100%;

                p {
                    color: #fff;
                }
            }

            .white {
                justify-content: flex-start;
                background: #fff;
            }
        }
    }
}


.main-second {
    .right {
        @include breakpoint(medium) {
            padding-top: 150px;
            padding-bottom: 100px;
            padding-left: 30px;

        }

        div {
            @include breakpoint(medium) {
                max-width: 440px;
            }
        }
    }

    .left {
        margin-bottom: 2rem;

        @include breakpoint(medium) {
            padding-right: 60px;
            margin-bottom: 0;
        }

        .left-img {
            background-image: url("../assets/img/_MG_7826.jpg");
            height: 200px;
            @include breakpoint(small-medium) {
                height: 250px;
            }

            @include breakpoint(medium) {
                height: 100%;

            }
        }
    }

    p {
        margin-bottom: 37px;

    }
}

.main-cells {
    .cell {
        box-shadow: 0px 3px 20px rgba(155,155,155,0.161);
        .card-section {
            box-shadow: none;
        }
    }
    .card {
        .card-section {
            padding: 0;
        
            .block {
                padding: 1rem 1rem 0 1rem;
                @include breakpoint(large) {
                    padding: 22px 27px 0 27px;
                
                }
            }
            .text-with-arrow {
                padding: 0 1rem 1rem 1rem;
                @include breakpoint(large) {
                    padding: 0 27px 22px 27px;
                
                }
            }
        }
    }
    // .grid-margin-x {
    //     @include grid-margin-x(32.5px);
    // }

    .grid-x {
        margin-bottom: 2rem;

        @include breakpoint(medium) {
            margin-bottom: 66px;
        }
    }

    .cells-subtitle>p {
        font-size: 20px;

        @include breakpoint(small-medium) {
            font-size: 17px;
        }

        @include breakpoint(medium) {
            font-size: 22px;
        }

        color: rgba(0, 0, 0, 0.58);
        margin:auto;
        text-align: center;
        max-width: 578px;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 45px;
        }
    }
}

.img-1 {
    background-image: url("../assets/img/20200423_100346.jpg");
}

.img-2 {
    background-image: url("../assets/img/apartment-architecture-ceiling-chair-259962-2.jpg");
    @include breakpoint(medium) {
        height: 100%;
    }
}

.img-3-box {
    @include breakpoint(medium) {
        padding-right: 40px !important;
    }

    @include breakpoint(large) {
        padding-right: 93px !important;
    }
}

.img-3 {
    @include breakpoint(medium) {
        height: 100%;
    }

    background-image: url("../assets/img/apartment-reverse.jpg");
}




.main-poradnik {
    .grid-padding-x {
        @include grid-padding-x(15px);
    }
    .gray-back {
        width: 40%;
        right: 0;
        top: 80px;
        height: 97%;
    }

    .first-main-poradnik {
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 42px;
        }
    }

    .without-img {
        @include breakpoint(medium) {
            padding: 4.5rem 0;
        }

        // @include breakpoint(large) {
        //     padding-right: 30px;
        // }
    }

    .poradnik-main-title {
        @include breakpoint(medium) {
            margin-bottom: 133px;
        }
    }

    p {
        margin-bottom: 2rem;
    }

    a {
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: bold;

        &:hover {
            opacity: 0.7;
        }
    }
}


////////////////////////////about

.about-first {
    .gray-back {
        width: 70%;
        height: 80%;
        top: 23%;
    }

    // @include breakpoint(medium) {
    //     height: 100vh;
    // }
    .main-title {
        text-transform: none;

        @include breakpoint(large) {
            font-size: 47px;

        }
    }

    .about-first-img {
        margin-bottom: 37px;
        background-image: url("../assets/img/_MG_7840.jpg");
        height: 200px;
        @include breakpoint(small-medium) {
            height: 250px;
        }

        @include breakpoint(medium) {
            height: 100%;
        }
    }

    .about-first-right-box {
        @include breakpoint(medium) {
            height: 100vh;
            display: flex;
            flex-direction: column;

        }
    }

    .about-first-left {
        padding-top: 120px;

        @include breakpoint(large) {
            p {
                max-width: 392px;
            }
        }
        // @include breakpoint(large) {
        //     padding-top: 220px;

        // }
        @include breakpoint(medium) {
            padding-right: 100px;
            padding-bottom: 70px;

        }

        @media(min-width: 1200px) {
            padding-right: 180px;

        }
    }
}

.about-second {
    .text-with-arrow {
        margin-top: 2rem;

        @include breakpoint(medium) {

            margin-top: 44px;
        }
    }

    margin-top: -50px;

    .about-second-img-box {
        @include breakpoint(medium) {
            padding-right: 100px;

        }

        @media(min-width: 1200px) {
            padding-right: 180px;

        }

    }

    .about-second-right {
        padding-top: 77px;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 50px;

            padding-top: 177px;
        }

        @include breakpoint(large) {
            max-width: 39%;
            p {
                max-width: 439px;
            }
        }
    }

    .about-second-img {
        background-image: url("../assets/img/_MG_7731.jpg");
        height: 200px;
        @include breakpoint(small-medium) {
            height: 250px;
        }

        @include breakpoint(medium) {
            height: 100%;

        }
    }
}

.about-last {
    .about-last-right {
        .thin-title {
            line-height: 1.2;
            font-weight: 300;
        }
        @include breakpoint(medium) {
            padding-right: 100px;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        @media(min-width: 1200px) {
            padding-right: 180px;
            padding-top: 75px;
            padding-bottom: 75px;

        }
    }

    .about-last-img {
        background-image: url("../assets/img/_MG_7811.jpg");
    }
}




/////////////////////oferta

.see-more-link {
    transition: .3s ease-in-out;
    a {
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: bold;

    }
    &:hover {
        opacity: 0.7;
    }
}



.oferta-first {
    .big-title {
        padding-top: 2rem;
    }

    .cells-subtitle {
        margin-bottom: 2rem;
        @include breakpoint(large) {
            margin-bottom: 89px;

        }
        p {
            padding-bottom: 0;
        }
    }

    .cell {
        @include breakpoint(large) {
            margin-bottom: 50px;
        }
    }

    .gray-back {
        width: 50%;
        height: 77%;
        right: 0;
        top: 0;
    }
}

.oferta-cells {
    .card {
        .card-img {
            background-image: url("../assets/img/_MG_7762.jpg");
            height: 166px;
        }
    }

    // .cell {
    //     a {
    //         &:hover {
    //             .card {
    //                 opacity: 0.7;

    //             }
    //         }
    //     }
    // }

    .grid-padding-x {
        @include grid-padding-x(32.5px);
    }

    .big-title {
        @include breakpoint(medium) {
            margin-bottom: 72px;
        }
    }

    .card-section {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 33px;

        .card-title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #000;
        }

        p {
            margin-bottom: 20px;

            text-transform: none;
        }
        .see-more {
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;
            font-weight: bold;
        }
    
    }
}

////////////////////////kategorie

.kategorie-first {
    @include breakpoint(medium) {
        min-height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
    }

    .grid-first {
        flex: 1;
    }

    // .grid-second {
    //     padding-bottom: 100px;
    // }
    .main-title {
        text-transform: none;
    }

    .left-img {
        background-image: url("../assets/img/thanos-pal-61TfyNIrWmI-unsplash.jpg");
    }

    .kategorie-first-right {
        padding-bottom: 2rem;
        @include breakpoint(medium) {
            padding-left: 50px;
         
        }

        @include breakpoint(large) {
            padding-left: 98px;
            padding-top: 60px;
            padding-bottom: 60px;

        }
    }

    .arrow-left-box {
        display: none;
        .text-with-arrow-down {
            padding-bottom: 0;
        }

        padding-top: 2rem;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            display: block;
            padding-top: 90px;
            padding-bottom: 90px;

        }
    }

    .right-img {
        background-image: url("../assets/img/photo-of-bedroom-2082093.jpg");
    }
}

.add-underline {
    border-bottom: 1px solid #35512F !important;
    color: #35512F !important;
}
@keyframes example {
    from {
      display: none;
      opacity: 0;
    }
  
    to {
      display: block;
      opacity: 1;
    }
  }
.menu-wladze-item {
    display: none;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.menu-wladze-item-1 {
    display: block;

}

.menu-wladze-big {
    padding-bottom: 2rem;

    @include breakpoint(medium) {
        padding-bottom: 40px;

    }

    .menu-wladze-big-option {
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #35512F;
            color: #35512F;
            cursor: pointer;
        }

        margin-right: 50px;

        &:last-child {
            padding-right: 0;
        }

        color: #959595;

        transition: .3s ease-in-out;
        font-size: 13px;
        text-transform: uppercase;


    }

}

.kategorie-cells {
    background-color: rgba(244, 244, 244, 0.5);
    padding-bottom: 2rem;
    padding-top: 2rem;

    @media screen and (min-width: 640px) {
        padding-top: 5rem;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 6rem;
    }
}

.kategorie-last {
    padding-top: 1rem;
    @include breakpoint(medium) {

        padding-top: 90px;
    }
    .gray-back {
        top: 0;
        right: 0;
        width: 57%;
        height: 73%;
    }
    .big-title {
        @include breakpoint(medium) {
            margin-bottom: 72px;
        }
    }
}





//////////////////////////////karta

.karta-first {
    .first-grid {
        padding-bottom: 3rem;
        // @media(min-width: 1300px) {

        //     padding-bottom: 93px;
        // }
    }
    .main-title {
        margin-bottom: 48px;
    }
    .karta-first-left {
        @include breakpoint(large) {
            padding-right: 35px;
    
        }
        .grid-x {
            height: 300px;
            @include breakpoint(medium) {
                height: 100%;

            }
            .wood-img {
                background-image: url("../assets/img/20200423_100346.jpg");
                height: 100%;
                // -webkit-transition: background-image 0.3s ease-in-out;
                // transition: background-image 0.3s ease-in-out;
            }
            .blank-img {
                background-image: url("../assets/img/Rectangle\ 385.jpg");
            }
            .small-3 {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
            }
         .img-box {
             height: 23%;
             padding-left: 16px;
             border: 1px solid #fff;
             .img-blank {
                 background-image: url("../assets/img/apartment-architecture-ceiling-chair-259962-2.jpg");
                 height: 100%;
                 transition: .3s ease-in-out;
                 &:hover {
                     opacity: 0.7;
                     cursor: pointer;
                 }
             }
             .img-blank-2 {
                 background-image: url("../assets/img/clem-onojeghuo-hdW4rZPHe2g-unsplash.jpg");
             }
             .img-blank-3 {
                 background-image: url("../assets/img/jurre-houtkamp-610ZXDQRt0Y-unsplash-2.jpg");
             }
             .img-blank-4 {
                 background-image: url("../assets/img/thanos-pal-61TfyNIrWmI-unsplash.jpg");
             }
         }
        }
    }
    min-height: 100vh;
    display: flex;
    align-items: center;
    .grid-container {
        width: 100%;
    }
    // @include breakpoint(medium) {
    //     padding-top: 80px;
    // }
    // @media(min-width: 1300px) {
    //     padding-top: 130px;

    // }
    padding: 2rem 0;
    .karta-first-right {
        p {
            margin-bottom: 1rem;
        }
    
        @include breakpoint(medium) {
            padding-left: 35px;
    
        }
   
        .icon-book {
            padding-right: 50px;
            text-align: center;
            img {
                margin-bottom: 9px;
            }
            p {
                color: #000;
            }
        }
        ul>li {
            font-size: 14px;
        }
        ul {
            max-width: 312px;
            margin-bottom: 62px;
        }
    }
    .second-grid {
        padding-bottom: 2rem;
    
        .arrow-down-box {
            display: none;
            @include breakpoint(medium) {
                display: flex;
                justify-content: center;

            }
        }
        .text-with-arrow-block {
        justify-content: center;
        @include breakpoint(medium) {
            justify-content: flex-end;
        }
        }
    }
  
}

.add-arrow {
    color: #1F1E24 !important;
    img {
        opacity: 1 !important;
    }
}

.card-details {
    padding: 1rem 0;


    @include breakpoint(medium) {
        padding: 70px 0;

    }
    .gray-back {
        top: 0;
        height: 475px;
        width: 53%;
        background: rgba(244, 244, 244, 0.5);
    }
    .big-title {
        @include breakpoint(medium) {
            padding-bottom: 72px;
        }
    }
    .card-menu {
        @media(max-width: 500px) {
            padding: 2rem 1rem;
            li {
                font-size: 12px !important;
                display: flex;
                align-items: flex-start;
                flex: 0;
            }
        }
        @media(max-width: 799px) {
       
                width: 100%;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        margin-bottom: 0 !important;
                        padding: 0 10px;
                      
                        img {
                            display: none;
                        }
                    }
                }
            
        }
        background: #fff;
        box-shadow: 0px 3px 20px rgba(162, 162, 162, 0.161);
        padding: 29px 55px 29px 55px;
        @include breakpoint(medium) {
            padding: 29px 25px 29px 25px; 
            li {
                max-width: 120px;
            }
        }
        @media(min-width: 900px) {
            padding: 29px 55px 29px 55px;
            li {
                max-width: none;
            }
        }
         ul {
            list-style: none;
            margin-left: 0;
            margin-bottom: 0;
            li {
                display: flex;
                align-items: center;
                img {
                    right: -56%;
                    opacity: 0;
                    transition: .3s ease-in-out;
                    top: 50%;
                    transform: translateY(-50%);
                }
                transition: .3s ease-in-out;
                &:hover {
                    color: #1F1E24;
                    cursor: pointer;
                    img {
                        opacity: 1;
                    }
                }
                text-transform: uppercase;
                color: #A0A0A0;
                font-size: 13px;
                margin-bottom: 41px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .card-item {
        display: none;
        animation-name: example;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        padding: 29px 0 29px 0px;
        @include breakpoint(small-medium) {
            padding: 29px 0 29px 55px;

        }
       @include breakpoint(xlarge){
            padding: 29px 0 29px 0px;
        }
    }
    .card-item-1 {
        display: block;
    }
    .dimensions {
        .cell {
            padding-bottom: 1rem;
            @include breakpoint(xlarge) {
                padding-bottom: 0;
            }
        }
        .dimensions-title {
            line-height: 1;
            font-size: 15px;
            color: #000;
            font-weight: bold;
            margin-bottom: 33px;
        }
        .dimensions-items {
            display: flex;
            >div {
                padding-right: 38px;
            }
            .small-dimension-title {
                font-size: 13px;
                font-weight: 600;
                color: #000;
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 3px;
            }
        }
    }

    .card-2-title-box {
        margin-bottom: 13px;
        .card-2-title {
            margin-left: 13.5px;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0;
            line-height: 1;
            display: flex;
            align-items: flex-end;
        
        }
    }
    .card-item-3 {
        img {
            margin-right: 1rem;
            height: 85px;
            width: 85px;
        }
        .card-3-title {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 11px;
            line-height: 1;
        }
    }
}


//////////////////usługi

.uslugi-first {
    padding-top: 0;
    @include breakpoint(medium) {
        padding-top: 66px;

    }
    .gray-back {
        width: 50%;
        height: 100%;
    }
    .big-title {
        @include breakpoint(medium) {
            margin-bottom: 14px;;

        }
    }
    .cells-subtitle {
        p {
            @include breakpoint(medium) {
                padding-bottom: 74px;

            }
        }
    }
    .card {
        .card-img {
            @include breakpoint(large) {
                height: 264px;
            }
        }
        .img-1 {
            background-image: url("../assets/img/paul-trienekens-mLO6ILUbADA-unsplash.jpg");
         
        }
        .img-2 {
            background-image: url("../assets/img/clem-onojeghuo-hdW4rZPHe2g-unsplash.jpg");
         
        }
        .img-3 {
            background-image: url("../assets/img/olga-kononenko-izDJWgQZonY-unsplash.jpg");
         
        }
    }
}


////////////////////////poradnik

.guide {
    padding-top: 66px;
    .gray-back {
        top: 0;
        width: 50%;
        right: 0;
        height: 52%;
    }
    .first-grid {
        .first-right {
            @include breakpoint(medium) {
                padding-left: 20px;
            }
            @include breakpoint(large) {
                padding-left: 53px;
            }
        }
        margin-bottom: 2rem;
        @include breakpoint(medium) {
            margin-bottom: 100px;
        }
        .img-left {
            background-image: url("../assets/img/_MG_7762.jpg");
            @include breakpoint(medium) {
                height: 100%;
            }
        }
        .big-title {
            font-size: 25px;
            margin-bottom: 36px;
        }
        p {
            margin-bottom: 2rem;
        }
    }
    .card-section {
        @include breakpoint(large) {
            padding-bottom: 38px;

        }
    }
}


////////////////////single-poradnik
.single-banner {
    padding: 50px 0 50px 0;
    @include breakpoint(medium) {
        padding: 156px 0 103px 0;

    }
    background-image: url("../assets/img/Group\ 1489.jpg");
    .main-title {
        color: #fff;
        text-transform: none;
        max-width: 482px;
    }
    .before-main-title {
        font-size: 16px;
        margin-bottom: 2rem;
        color: rgba(255, 255, 255, 0.61);
    }
}

.blog-main {
    .grid-padding-x {
        @include grid-padding-x(8px);
    }
    .big-title {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 2rem;
        @include breakpoint(medium) {
            margin-bottom: 65px;
        }
    }
    .small-img {
        background-image: url("../assets/img/Rectangle\ 400.jpg");
        @include breakpoint(medium) {
            height: 236px;
            margin-bottom: 65px;
        }
    }
    .big-img {
        background-image: url("../assets/img/Rectangle\ 400.jpg");
        @include breakpoint(medium) {
            height: 369px;
            margin-bottom: 65px;
        }
    }
}

.strap {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    .div-first {
        margin-bottom: 2rem;
        @media(min-width: 600px) {
            margin-bottom: 0;
    
        }
    }
    @media(min-width: 600px) {
        flex-direction: row;
        display: flex;
        justify-content: space-between;

    }
    align-items: center;
    @include breakpoint(medium) {
        margin-bottom: 66px;
    }
    background-image: url("../assets/img/Group\ 1490.jpg");
    padding: 50px 50px;
    .big-title {
        font-weight: 100;
        color: #fff;
        margin-bottom: 6px;
    }
    p {
        color: #fff;
        font-weight: 100;
    }
    .big-title, p {
        max-width: 311px;
        margin-bottom: 0;
    }
    .strap-button {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #35512F;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 19px 23px;
        svg {
            margin-left: 10px;
            path {
                transition: .3s ease-in-out;
            }
        }
        &:hover {
            background: transparent;
            color: #fff;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }

    }
}

/////////////////////////////kontakt

.contact {
    .arrow-contact {
      display: none;
        @include breakpoint(medium) {
            bottom: 10px;
            right: 30px;
            display: block;
        }
        @include breakpoint(large) {
            right: -35px;

        }
    }
    .contact-inside {
        @include breakpoint(medium) {
            min-height: 100vh;
        }
    }
    .gray-back {
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        @include breakpoint(medium) {
            width: 50%;

        }
        @include breakpoint(large) {
            width: 45%;
        }
        background: #F4F4F4;

    }
    .form-box {
        padding-top: 100px;
        @include breakpoint(large) {
            padding-top: 150px;
        }
        @media(min-width: 1300px) {
            padding-top: 200px;

        }
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        @include breakpoint(medium) {
            justify-content: flex-end;

        }
        @include breakpoint(large) {
            justify-content: center;
            padding-left: 2rem;
            padding-bottom: 91px;
        }
    }
    .contact-left {
        padding-top: 100px;
        @include breakpoint(medium) {
            padding-bottom: 50px;
        }
        @include breakpoint(large) {
            padding-top: 150px;
        }
        @media(min-width: 1300px) {
            padding-top: 200px;
        }
        .grid-x {
            a {
                &:hover {
                    opacity: 0.7;
                }
            }
            p {
                font-size: 14px;
                strong {
                    font-weight: 600;
                }
            }
            a {
                color: #26292E;
                font-size: 20px;
                display: block;
                font-weight: 600;
            }

        }
        .left-inside-box {
            display: flex;
            justify-content: center;
            @include breakpoint(small-medium) {
                justify-content: flex-start;

            }
        }
        .kontakt-left-inside {
 
            max-width: 300px;
            @include breakpoint(small-medium) {
                max-width: 212px;
                padding-right: 15px;

            }
        }
        .first {
            margin-bottom: 41px;
        }
        .middle {
         margin-bottom: 41px;
        }
        .email {
            margin-bottom: 2rem;
            @include breakpoint(medium) {
                margin-bottom: 47px;

            }
            display: flex;
            justify-content: center;
            @include breakpoint(small-medium) {
                justify-content: flex-start;

            }
            
            a {
                color: #3B3B3B;
                font-size: 30px;
                font-weight: 500;
                display: block;
                width: 300px;
            }
        }
    }
}

.map {
    background-image: url("../assets/img/Zrzut\ ekranu\ 2020-06-4\ o\ 12.42.59.jpg");
    height: 429px;
}


///////////////////////menu-page

.menu-inside {
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    display: none;
    padding: 50px 1rem 50px 1rem;
    @include breakpoint(medium) {
        padding: 110px 93px 110px 93px;

    }
    // display: flex;
    z-index: 10;
    align-items: center;
    min-height: 100vh;
    background: #1D1D1D;
    position: relative;
    color: #fff;
    .text-with-arrow {
        font-size: 20px !important;
        font-weight: 200;
        .img-arrow-box {
            transition: .3s ease-in-out;
            background-image: url("../assets/img/Group\ 1488.svg");
            width: 22px;
            height: 10px;
            background-position: right;
            margin-left: 31px;
            opacity: 0.39;
        }
      
  
    
        &:hover {
      
            .img-arrow-box {
                width: 136px;
                opacity: 1
            }
        }
    
    
    
    }
    .cross {
        position: absolute;
        top: 1rem;
        right: 1rem;
        @include breakpoint(medium) {
            top: 51px;
            right: 93px;

        }
        transition: .3s ease-in-out;
      &:hover {
        transform: rotate(90deg)
      }
      
    }
    .menu-box {
        width: 100%;
        .menu-title {
            font-size: 16px;
            padding-right: 10px;
            font-weight: 600;
            padding-bottom: 28px;
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.39);
            margin-bottom: 25px;
            @include breakpoint(medium) {
                margin-bottom: 50px;

            }
        }
        ul {
            list-style: none;
            margin-left: 0;
            li {
                display: flex;
                margin-bottom: 20px;
                @include breakpoint(medium) {
                    margin-bottom: 85px;

                }
                a {
                    font-size: 16px;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.43);
                    &:hover {
                        color: #fff;
                        svg {
                            line {
                                stroke: #fff;
                            }
                        }
                    }
                }
            }
        }
        .menu-right {
            margin-bottom: 50px;
            @include breakpoint(medium) {
                padding-left: 50px;
                margin-bottom: 0;
            }
            @include breakpoint(large) {
                padding-left: 100px;
            }
       
        }
        .menu-left {
            @include breakpoint(medium) {
                padding-right: 50px;
            }
            @include breakpoint(large) {
                padding-right: 100px;
            }
            li {
                margin-bottom: 20px;
            
                a {
                    padding-right: 10px;
                }
            }
        }
    }
}