@import '../modules/foundation-settings';
@import url("https://use.typekit.net/aeb5equ.css");

* {
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-container {
    @media (min-width: 800px)  {
            padding-left: 80px;
            padding-right: 80px;
            max-width: none;

    }
    @media(min-width: 1400px) {
        max-width: 74.5rem;
        padding-left: .48675rem;
        padding-right: .48675rem;
    }
 }

body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

.wrap-padding {
    padding-top: 100px;
}

a {
    transition: .3s ease-in-out;
}

// .transform-180 {
//     transform: rotate(180deg);
// }

// .rotate {
//     img {
//         transform: rotate(180deg);
//     }
// }

// a {
// 	transition: all .3s ease-in-out;
// }

// .grid-container-padding {
//     @media (min-width: 1200px) {
//         padding: 0 5%;
//     }
// }

.section {
    margin-bottom: 2rem;

    @media screen and (min-width: 640px) {
        margin-bottom: 5rem;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 6rem;
    }
}

.center {
    display: flex;
    align-items: center
}

.flex {
    display: flex;
}


// .height-100 {
//     @media screen and (min-width: 1360px){
//         min-height: 100vh;
//     }
// }

.order-1 {
    @media screen and (max-width: 799px) {
        order: -1;
    }
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @media (min-width: 800px) {
        padding-left: 80px;
        padding-right: 0;
    }
}

.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @media (min-width: 800px) {
        padding-right: 80px;
        padding-left: 0;
    }
}

@media(min-width: 1400px) {
    .stretch-right {
        padding-right: calc((100vw - 1192px) / 2 + .48675rem);
    }

    .stretch-left {
        padding-left: calc((100vw - 1192px) / 2 + .48675rem);
    }

}

// .no-margin-bottom {
//     margin-bottom: 0 !important;
// }


// .link-a-opacity {
//     p {
//         transition: .3s ease-in-out;
//         &:hover {
//             opacity: 0.7;
//         }

//     }
// }

// .add-opacity {
//     opacity: 0.7;
//     .special-menu-title {
//         color: #5BC5C1 !important;
//     }
// }


.mb-90 {
    margin-bottom: 2rem;

    @include breakpoint(large) {
        margin-bottom: 90px;
    }
}

.padding-right-70 {
    @include breakpoint(large) {
        padding-right: 70px !important;
    }
}

.padding-left-70 {
    @include breakpoint(large) {
        padding-left: 70px !important;
    }
}

.padding-left-54 {
    @include breakpoint(medium) {
        padding-left: 15px;
    }

    @include breakpoint(large) {
        padding-left: 54px;
    }
}

.padding-right-108 {
    @include breakpoint(medium) {
        padding-right: 15px;
    }

    @include breakpoint(large) {
        padding-right: 108px
    }
}

.padding-left-108 {
    @include breakpoint(medium) {
        padding-left: 15px;
    }

    @include breakpoint(large) {
        padding-left: 108px
    }
}

.small-2rem {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.break-2rem {
    padding-bottom: 2rem;
}

.small-250 {
 
    @media(max-width: 799px) {
        height: 250px;
    }
    @media(max-width: 479px) {
        height: 200px;
    }
}

.text-with-arrow {
    display: flex;
    align-items: center;
    line-height: 1;

    img {
        padding-left: 11px;
        width: 51px;
        height: 20px;

        transition: width .3s ease-in-out;

    }

    &:hover {
        cursor: pointer;
        color: #406054;
        img {
            width: 70px;
            height: 20px;
        }
    }

    font-size: 14px;
    color: #406054;


}
.text-with-arrow-block {
    display: flex;
    justify-content: flex-end;
    span {
        display: block;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
    }
    // img {
    //     width: 70px;
    //     transition: .3s ease-in-out;
    // }
    a {
        &:hover {
            opacity: 0.7;
            // img {
            //     width: 90px;
            // }
        }
    }
}
.text-with-arrow-down {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    img {
        padding-left: 11px;
    }
    p {
        font-size: 20px;
    }
    em {
        font-style: normal;
        font-weight: bold;
    }
}


.smaller-container {
    @include breakpoint(large) {
        width: 80%;
    }
}
.smaller-container-blog {
    @include breakpoint(large) {
        width: 68.5%;
    }
}

.owerflow-hidden {
    overflow: hidden;
}

.smaller-container-box {
    display: flex;
    justify-content: center;
}

.card {
    transition: .3s ease-in-out;
    .block {
        overflow: hidden;
        display: block;
    }
    &:hover {
    //  a { 
    //      img {
    //          width: 70px;
    //      }
    //  }
    .card-img {
             transform: scale(1.1);
    }
    }

    .card-img {
        height: 158px;
        transition: .3s ease-in-out;

    }
    .text-with-arrow {
        &:hover {
            // cursor: pointer;
            // color: #406054;
            color: #000;
            img {
                width: 51px;
                height: 20px;
           
            }
        }
    }

    .card-section {
        box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);
        padding: 22px 27px 22px 27px;
        background-color: #fff;
        @include breakpoint(small-medium) {
            padding: 1rem;

        }
        @include breakpoint(medium) {
            padding: 22px 27px 22px 27px;

        }
    }

    p {
        color: #777777;
        font-size: 11px;
        text-transform: uppercase;
        padding-bottom: 6px;
        text-align: left;
    }
    a {
        color: #000;
        font-size: 15px;
        font-weight: 900;
    }
}

.gray-back {
    position: absolute;
    background-color: rgba(237, 237, 237, 0.38);
    width: 100%;
    height: 95%;
    top: 220px;
    z-index: -1;
}
