@import '../modules/foundation-settings';
@import url("https://use.typekit.net/aeb5equ.css");

$blue: #3F5BA5;
$brown: #8E6B55;
$beige-table: rgba(63, 91, 166, 0.12);
$light-beige-table: rgba(63, 91, 166, 0.07);
$grey: #404D5A;



* {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

@mixin grid-padding-x($property) {
    @media(min-width: 1024px) {
        margin-left: -$property;
        margin-right: -$property;
        > .cell {
        padding-left: $property;
        padding-right: $property;
        }

    }
  }


// .small-img-height {
//     @media(max-width: 639px) {
//         height: 250px;
//         margin-bottom: 2rem;
//     }
// }

h1,h2,h3,h4,h5,h6 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}



.big-title {
    font-size: 28px;
    line-height: 1.2;
    @include breakpoint(medium) {
        font-size: 32px;

    }
    margin-bottom: 23px;
    color: #000;
    font-weight: 600;
    em {
        font-style: normal;
        color: #3F5BA5
    }
}

.thin-title {
    font-size: 28px;
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        font-size: 35px;
        margin-bottom: 44px;
    }
    font-weight: 200;
}

.before-main-title {
    font-size: 13px;
    text-transform: uppercase;
    color: #818181;
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
}

.main-title {
    font-size: 30px;
    @include breakpoint(medium) {
        font-size: 37px;

    }
    margin-bottom: 25px;
    @media(min-width: 1300px) {
        font-size: 47px;
    }
    color: #26292E;
    font-weight: 800;
    letter-spacing: 0.47px;
    text-transform: uppercase;
    line-height: 1.2;
}


#breadcrumbs {
    margin-bottom: 20px;
    font-size: 12px;
    color: rgba(129, 129, 129, 0.5);
    a {
        color: rgba(129, 129, 129, 0.5);
        &:hover {
            opacity: 0.7;
        }
    }
}

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }
    padding: 13px 33px;
    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 400;
}

.owl-button {
    @extend .myButton;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 11px 33px;
    &:hover {
        background: #fff;
        color: #1D2B52;
    }
}


.green-button {
    @extend .myButton;
    background-color:#5BC5C1 !important;
    color: #fff;
    border: 1px solid #5BC5C1;
    &:hover {
       background-color: transparent !important;
       color: #5BC5C1 !important;
    }
}

.white-button {
    @extend .myButton;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
       background-color: #fff;
       color: $blue;
    }
}

p, li {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;
    color: #707070;
    margin-bottom: 0;
    em {
        font-style: normal;
        font-weight: 600;
    }
}