

       <div class="grid-container">
           <div class="position-relative">
               <div class="gray-back"></div>
               <div class="smaller-container-box">
                   <div class="smaller-container">
                        <div class="grid-x grid-padding-x">
                            <div class="cell small-12 small-medium-6  medium-4 footer-left">
                                <div class="footer-left-inside">
                                    <div>
                                        <p>Masz pytania ? Napisz</p>
                                        <a href="">biuro@drewmar.pl</a>
                                    </div>
                                    <div class="rodo rodo-big"><a href="">Wszelkie prawa zastrzeżone</a></div>
        
                                </div>
                            </div>
                            <div class="cell medium-4 footer-middle">
                     
                                    <!-- <div class="footer-middle-inside grid-x">
                                        <div class="cell small-12 small-medium-6 medium-12">
                                            <p>Marek Marć</p>
                                            <a href="">+48 606 48 64 64</a>
    
                                        </div>
                                        <div class="cell small-12 small-medium-6 medium-12">
                                            <p>Mirosław Marć</p>   
                                           <a href="">+48 507 06 36 71</a>
    
                                        </div>
            
                                    </div> -->
                                    <div class="footer-middle-inside ">
                                        <div class="first">
                                            <p>Marek Marć</p>
                                            <a href="">+48 606 48 64 64</a>
    
                                        </div>
                                        <div class="">
                                            <p>Mirosław Marć</p>   
                                           <a href="">+48 507 06 36 71</a>
    
                                        </div>
            
                                    </div>

                            </div>
                            <div class="cell small-12 small-medium-6 order-1 medium-4 footer-right">
                                <div class="footer-right-inside">
                                    <div>
                                        <p>Usługi Budowlane Kupno i Sprzedaż Tarcicy</p>
                                        <span>ul. Witosa 77, 39-215 Czarna</span>
                                        <a class="text-with-arrow" href="">Zobacz jak dojechać <img src="assets/img/Group 112.svg" alt=""></a>
                                    </div>
                                    <div class="rodo rodo-big"><a href="">Projektowanie stron hauerpower.com</a></div>
        
                                </div>
                            </div>
                        </div>
                        <div class="rodo-small">
                            <div class="rodo"><a href="">Wszelkie prawa zastrzeżone</a></div>
                            <div class="rodo"><a href="">Projektowanie stron hauerpower.com</a></div>
        
                        </div>
                   </div>

               </div>

           </div>

       </div>


