
 <!-- <div class="grid-x ">
    <div class="cell medium-6"></div>
    <div class="cell medium-6grid-container-right stretch-right">
        </div>
 </div> -->

 <div class="menu-inside">
    <div class="cross"><img src="assets/img/Group 1479.svg" alt=""></div>
    <div class="menu-box">
        <div class="grid-x ">
            <div class="cell medium-6 menu-left">
                <div class="grid-x">
                    <div class="cell small-6">
                        <h3 class="menu-title">Nasza oferta</h3>
                        <ul>
                            <li><a href="">Tarcica dębowa</a></li>
                            <li><a href="">Lamela dębowa</a></li>
                            <li><a href="">Podłoga 3-warstwowa</a></li>
                            <li><a href="">Blat meblowy</a></li>
                            <li><a href="">Płyta meblowa</a></li>
                            <li><a href="">Brykiet dębowy</a></li>
                            <li><a href="">Drewno opałowe</a></li>
                        </ul>
                    </div>
                    <div class="cell small-6">
                        <h3 class="menu-title">Nasze usługi</h3>
                        <ul>
                            <li><a href="">Tarcie drewna</a></li>
                            <li><a href="">Przerób drewna</a></li>
                            <li><a href="">Tarcica</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell medium-6 menu-right order-1">
                <h3 class="menu-title">Menu</h3>
                <ul>
                    <li> <a class="text-with-arrow" href="">Home
                            <div class="img-arrow-box"></div>
                        </a></li>
                    <li> <a class="text-with-arrow" href="">O firmie
                            <div class="img-arrow-box"></div>
                        </a></li>
                    <li> <a class="text-with-arrow" href="">Poradnik
                            <div class="img-arrow-box"></div>
                        </a></li>
                    <li> <a class="text-with-arrow" href="">Kontakt
                            <div class="img-arrow-box"></div>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="grid-x header-wrap align-justify align-middle">
     
        <div class="cell logo-wrap shrink  grid-container-left stretch-left">
            <a href="<?php echo esc_url( home_url( '/' ) ); ?>">
                <a href=""><img src="assets/img/700x400.svg" alt=""></a>
            </a>
        </div>

        <div class="cell menu-wrap shrink">
   
            <a id="hamburger" href="#"><span></span></a>
         
           
        </div>

    </div>
